{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('logout') }}">Kijelentkezés</a>
    {% endif %}
    {% if is_granted('ROLE_AUTHENTICATED') %}
        <p>
            <a href="{{ path('user') }}">Felhasználói oldal</a>
        </p>
    {% endif %}
    {% if is_granted('ROLE_EDITOR') %}
        <p>
            <a href="{{ path('editor') }}">Tartalomszerkesztői oldal</a>
        </p>
    {% endif %}
    <hr>
    <h1>Központi adminisztrációs oldal</h1>
    <p>Belépési adatok:</p>
    <p>Felhasználónév - {{ app.user.username }}</p>
    <p>Utolsó bejelentkezés - {{ app.user.getLastLogin().format("Y-m-d H:i:s") }}</p>
    <p>Csoportok -
        {% for role in app.user.roles  %}
            {{ roles[role] }},
        {% endfor %}
    </p>
{% endblock %}